@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania&display=swap");
* {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  color: #777;
}
html,
body {
  margin: 0;
  padding: 0;
  
}

.nav ul {
  margin: 0;
}
.nav li {
  display: inline;
}
.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  transition: transform 0.2s;
}
.nav a:hover {
  color: #fbb519;
  /* background-color: rgba(255, 255, 255, 0.3); */
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
}
.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}
.main-nav li {
  padding: 0 5%;
}
.main-header {
  background-image: url(/img/background.jpg);
  background-size: cover;
  padding-bottom: 5em;
}
.band-name {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 3em;
  font-family: "IM Fell French Canon SC", serif;
  font-weight: normal;
}
.band-name a {
  color: white;
  text-decoration: none;
  font-family: "IM Fell French Canon SC", serif;
  float: left;
}

.band-name-large {
  font-size: 9em;
}
.content-section {
  margin: 1em;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-family: "Metal Mania", cursive;
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}
p {
  line-height: 2rem;
}
.img-container{
 display: block;
 margin: 0 auto;
 padding: -80px;
}
.about-band-image {
  float: left;
  width: 300px;
  height: 300px;
  margin: 1em;
  border-radius: 50%;
}
.main-footer {
  background-color: #fbb519;
  color: white;
  padding: 0.25em 0;
}
h3 a {
  margin-left: 5%;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}
.footer-nav li {
  padding: 0 0.5em;
}
.footer-nav img {
  width: 30px;
  height: 30px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
  outline: 0;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid rgba(0, 0, 0, .4);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  outline: 0;
}
.btn-header a {
  text-decoration: none;
  color: #fff;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2d9cdb;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
  outline: 0;
}
.fa {
  color: #234103;
  font-size: 7rem !important;
  text-align: center;
  position: relative;
  bottom: 6px;
  left: 5px;
}
.btn-play:focus {
  outline: 0;
}

.btn-primary {
  color: white;
  background-color: #234103;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  z-index: 1;
  margin-top: 5px;
  outline: 0;
}

.btn-primary:hover {
  background-color: #667e4d;
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.tour-row:last-child {
  border: none;
}

.tour-item {
  display: inline-block;
  padding-right: 0.5em;
}

.tour-date {
  color: #555;
  width: 11%;
  font-weight: bold;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
  outline: 0;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.shop-item-details {
  display: flex; /*We want to center items vertically so that they are all within the same line*/
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1; /*So that the price take up as much width as possible so that the cart button is pushed all the way to the end of container */
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  outline: 0;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block; /*So that we can center buton using auto margin*/
  margin: 40px auto 80px auto;
  font-size: 1.75em;
  outline: 0;
}
.shop-item-details {
  display: flex; /*We want to center items vertically so that they are all within the same line*/
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1; /*So that the price take up as much width as possible so that the cart button is pushed all the way to the end of container */
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  outline: 0;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}



/* LAPTOPS*/
@media only screen and (max-width: 1215px) {
}
/* TABLET*/
@media only screen and (max-width: 1023px) {
}

/* MOBILE DEVICES */
@media only screen and (max-width: 783px) {
  h1.band-name {
    font-size: 7rem;
    margin-top: 0.4em;
  }
  button.btn-header {
    font-size: 1em;
    margin: 0.9em 15% 2em 15%;
  }
  button.btn-play {
    display: block;
    margin: 0 auto;
    color: #234103;
    font-size: 4em;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    outline: 0;
  }
  .fa {
    font-size: 4rem !important;
    bottom: 10px;
    left: 1px;
  }
}

/* SMALL DEVICES*/
@media only screen and (max-width: 560px) {
  h1.band-name {
    font-size: 4.3em;
    margin-top: 0.4em;
  }
  button.btn-header {
    font-size: 1em;
    margin: 0.9em 15% 2em 15%;
  }
  button.btn-play {
    display: block;
    margin: 0 auto;
    color: #234103;
    font-size: 4em;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    outline: 0;
  }
  .section-header {
    font-size: 1.7em;
  }
  .fa {
    font-size: 4rem !important;
    bottom: 10px;
    left: 1px;
  }
  span.tour-item {
    font-size: 13px;
  }
  button.tour-btn {
    font-size: 9px;
  }
  h3.band-name {
    font-size: 2.5em;
  }
  .footer-nav img {
    width: 20px;
    height: 20px;
    float: right;
  }
  .cart-row {
    font-size: 13px;
  }
}
@media only screen and (max-width: 441px) {
  h1.band-name {
    font-size: 3.8em;
  }
  .nav a {
    font-size: 14px;
  }
  .container {
    margin-left: 17px;
  }
  .main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
  }
  span.tour-item {
    font-size: 9px;
  }
  button.tour-btn {
    font-size: 8px;
  }
  .section-header {
    font-size: 1.7em;
  }
  h3.band-name {
    font-size: 1.5em;
  }
  .footer-nav img {
    width: 15px;
    height: 15px;
  }
  .cart-row {
    font-size: 10px;
    padding: 0;
  }
  .cart-item-image {
    width: 40px;
    height: auto;
    border-radius: 10px;
  }
  .cart-quantity-input {
    height: 19px;
    width: 35px;
  }
  .btn-danger {
    padding: 0.3em 0.3em;
    font-size: 10px;
  }
  .cart-item {
  width: 35%;
}
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.3em;
    outline: 0;
}
}
@media only screen and (max-width: 376px) {
  .about-band-image {
    width: 260px;
    height: 260px;
    margin:0 40px 20px 0 
}
p{
  margin-right: 20px;
}
}